@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-et: 5px;
  --breakpoint-bs: 400px;
  --breakpoint-bk: 600px;
  --breakpoint-bk2: 1000px;
  --breakpoint-bk3: 728px;
  --breakpoint-bk4: 1200px;
  --breakpoint-bk5: 798px;
  --breakpoint-bk7: 1100px;
  --breakpoint-bk8: 820px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  background: #F7F8FA;
  color: black;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}